*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
section{
    margin-inline: auto;
}
h1{
    font-size: 5rem;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p{
    max-width: 70%;
    margin-inline: auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
    line-height: 22px;
}
button{
    padding: 10px;
    font-size: 1rem;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in;
}
button:hover{
    background-color: yellow;
    color: black;
    border: none;
}
.cursor{
    width: 15px;
    height: 15px;
    background-color:red;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
}
@media (max-width:576px){
    h1{
        font-size: 3rem;
        margin-top: 30px;
    }
}
